body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --border-color: #e3e5e4;
  --background-color: #eee;
  --text-color:#222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  boz-sizing: border-box;
}

img {
  width:70%;
  margin:0 auto;
  display:block;
}
body {
  background-color: #fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: flex-start;
  height:100vh;
  margin:0;
}

.right {
  padding:20px;
  /* border:1px solid #eee; */
  margin:20px;
}


.draggable-list {
  display: flex;
      flex-wrap: wrap;
      /* flex-direction: row-reverse; */
}

.draggable-list li {
  background-color: white;
  display:flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type){
  background-color: #FFFCFF;
border-radius: 10px;
  /* border-bottom: 1px solid var(--border-color) */
}

/* .draggable-list .number {
  background-color: var(--background-color);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  height:60px;
  width:60px;
} */

.draggable-list li.over .draggable {
  background-color: #eaeaea
}

h4 {
  text-transform: uppercase;
  letter-spacing:4px;
  text-align:center !important
}

.person-name{
  align-items:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  display:block;
  text-align:center !important;
  position: relative;
}

h2 {
  text-align:center;
  color: #948989;
}

.draggable-list li.right .person-name {
  color: #2a2a2a;
  text-align:center !important;

}

p {
  text-align:center;
  font-size:14px;
}
.draggable-list li.wrong .person-name {
  color: #ff3838
}

.draggable {
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  flex:1
}

.check-btn {
  background-color: var(--background-color);
  border:none;
  color: var(--text-color);
  font-size:16px;
  padding:10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98)
}

.check-btn:focus{
  outline: none;
}
